body{
    background-color: lightgoldenrodyellow;
    font-style: normal;
    font:icon,arial,times;
}
header{
    background-color: lightgoldenrodyellow;
    font-style: normal;
    font:icon,arial,times;
}

h1, h2, #addTask{
    background-color: lightgoldenrodyellow;
    color:purple;
    display:inline-block;
    font-style: normal;
    font:icon,arial,times;
}

.taskComplete{
    background-color: lightgreen;
    color:darkred
}

footer{
    width: 100%;
    margin-bottom: 0;
    padding-inline-start: 4em;
   padding:3em ;
   align-content: center;
}


 

  .deleteButton{
    background-color: darkred;
    color: white;
    cursor: pointer;

  } 
  
  .complete-btn{
    background-color: darkgreen;
    color: white;
    cursor: pointer;
  }

 .green{
     background-color: lightgreen;
 }

  #app{
   block-size: 50px;
   word-wrap: normal;
  }
 

#addButton{
    background-color:darkred;
    color: white;
    display: inline;
    cursor: pointer;
}

.table{
   
    color: darkred;
}


td:nth-child(even){
    background-color: azure
}

td:nth-child(odd){
    background-color:lightcyan;
}

th:nth-child(even){
    background-color: azure
}

th:nth-child(odd){
    background-color:lightcyan;
}